.SARA{

    color: green;
    background-color: blanchedalmond;
    font-size: 50px;
text-align: center;
}

.Sara,.photo {

    
display: block;
    margin-left: auto;
    margin-right: auto;
width: 50%;
}